/*MOBILE*/
@media(max-width:768px) {
    header {
        background-color: #f4f4f7;
        /* box-shadow: 3px 3px 3px rgb(228, 207, 207); */
        padding-left: 5px;

    }

    header>nav {
        text-align: center;
    }

    header>nav>ul {
        /* float: none; */
        float: center;
        list-style: none;
        margin-bottom: 0%;

    }

    header>nav>ul>li {
        display: block;

    }


    header>nav>ul>li>a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        color: black;

    }

    .sideimage>img {
        margin-left: 87px;
        height: 200x;
        width: 300px;


    }

    .gallery {

        background-color: rgb(76, 183, 183);
        box-shadow: 5px 5px 5px grey;
        height: 80%;
    }

    .btnonslider {
        position: absolute;
        top: 150%;
        left: 30%;
    }

    .textonslider {
        position: absolute;
        top: 110%;
        left: 15%;

    }


    .breadcrumb {
        position: absolute;
        top: 105%;
        left: 22%;
        padding: 10px;
        background-image: linear-gradient(to right, red, pink, indigo, blue);
        opacity: 0.8;
        border-radius: 7px;

    }

    .bookbtn {
        background-color: gold;
        color: black;
        font-weight: bolder;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }

    .checkpastBtn {
        background-color: rgb(245, 245, 242);
        color: rgb(236, 11, 11);
        font-weight: bolder;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px
    }

    .testimonalBlock {
        margin-right: auto !important;
    }
}

/*TABLATE*/
@media(min-width:769px) and (max-width:1023px) {
    header {
        background-color: #0B0B45;
        box-shadow: 3px 3px 3px rgb(228, 207, 207);
        padding: 20px;

    }

    header>nav {
        text-align: center;
    }

    header>nav>ul {
        float: none;

    }

    header>nav>ul>li {
        display: block;


    }

    .gallery {

        background-color: rgb(76, 183, 183);
        box-shadow: 5px 5px 5px grey;
        height: 80%;
        padding: 30px;


    }
    .textonslider {
        position: absolute;
        top: 110%;
        left:50%;

    }

    .btnonslider {
        position: absolute;
        top: 150%;
        left:20%;
    }


    .breadcrumb {
        position: absolute;
        top: 105%;
        left:36%;
        padding: 10px;
        background-image: linear-gradient(to right, red, pink, indigo, blue);
        opacity: 0.8;
        border-radius: 7px;

    }
    .youtubevideo{
        /* height:650px;
        width:;
                opacity: 0.7; */
    }
    .testimonalimages{
        height:500px;
        width:600px;
        border-radius:20px;
        opacity:0.8;
    }
    


    

}

@media(min-width:1024px) and (max-width:1440px) {

    .gallery {

        background-color: rgb(76, 183, 183);
        box-shadow: 5px 5px 5px grey;
        height: 80%;
        width: 100%;
        ;
        padding-left: 20px;

    }

}